<%- include("header", {title: title}); %>
<div class="main">
    <h1>Available products</h1>

    <p>Here you can see what products are currently available in our eshop.</p>

    <table class="table table-striped">
            <tr>
                <th>Prodcut ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Kategori</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        <% for (const row of res) { %>
            <tr>
                <td><%= row.produktid %></td>
                <td><%= row.namn %></td>
                <td><%= row.beskrivning %></td>
                <td><%= row.pris %></td>
                <td><%= row.kategori %></td>
                <td><%= row.antal %></td>
                <td>
                    <a href="/eshop/update/<%= row.produktid %>">Update</a>
                    <a href="/eshop/delete/<%= row.produktid %>">Delete</a>
                </td>
            </tr>
        <% }; %>
    </table>

    <p>
        <a href="index">Index</a>
    </p>
</div>


<%- include("footer"); %>