<%- include("header", {title: title}); %>
<div class="container">
    <h1>Search</h1>
</div>

<div class="main">

    <p>Search result: </p>
    <table class="table table-striped">
            <tr>
                <th>Vaccin</th>
                <th>Vaccin Typ</th>
                <th>Sjukdom</th>
                <th>Beskrivning</th>
                <th>Sannolikhet</th>
            </tr>
        <% for (const row of res) { %>
            <tr>
                <td><%= row.vaccin %></td>
                <td><%= row.typ %></td>
                <td><%= row.sjukdom %></td>
                <td><%= row.beskrivning %></td>
                <td><%= row.sannolikhet %></td>
            </tr>
        <% }; %>
    </table>

    <p>
        <a href="index">Index</a>
    </p>
</div>

<%- include("footer"); %>